<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="lazyLoadingEnabled" value="false"/>
		<setting name="multipleResultSetsEnabled" value="true"/>
		<!--<setting name="autoMappingBehavior" value="FULL" />-->
		<setting name="autoMappingUnknownColumnBehavior" value="FAILING"/>
		<setting name="defaultExecutorType" value="REUSE"/>
		<!--<setting name="defaultFetchSize" value="100"/>-->
		<setting name="useGeneratedKeys" value="true"/>
		<setting name="defaultStatementTimeout" value="1"/>
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="jdbc:postgresql://localhost:5432/tmpl_proj"/>
                <property name="username" value="tmpl_proj"/>
                <property name="password" value="test1234"/>
                <property name="poolMaximumActiveConnections" value="10" />
                <property name="poolMaximumIdleConnections" value="10" />
            </dataSource>
		</environment>
	</environments>

</configuration>
